<section class="wrap">
  <div class="jumbotron">
    <div class="hero">
    <h2 class="display-3">Welcome to API Curious for Github, <%= @profile.account_info.name %>!</h2>
      <div class="lead">
        <%= render partial: 'shared/login' %>
      </div>
    </div>
  </div>
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>Followers</th>
      <th>Following</th>
      <th>Starred</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @profile.account_info.name %></td>
      <td><%= @profile.account_info.username %></td>
      <td><%= @profile.account_info.followers %></td>
      <td><%= @profile.account_info.following %></td>
      <td><%= @profile.starred_repos.count %></td>
    </tr>
  </tbody>
  </table>
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Recent Activity from Users I Follow</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <% @profile.received_events.each do |event| %>
            <%= event %><br><br>
        <% end %>
      </td>
    </tr>
  </tbody>
  </table>
  <table class="table table-striped">
  <thead>
    <tr>
      <th>My Recent Activity</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <% @profile.recent_activity.each do |activity| %>
            <%= activity %><br><br>
        <% end %>
      </td>
    </tr>
  </tbody>
  </table>
  <div class="wrap">
    <%= image_tag @profile.account_info.image_url, class: 'resize' %>
  </div>
</section>
